body {
	font-family: "Times New Roman", Times, serif;
	background: #f4e8c8;
}


.bingkai {
	width: 784px;
	height: 200px;
	margin: 20px auto 20px auto;
	border: 2px solid white;
}

.bingkai .header {
	background: #f1ce72;
	font-size: 20px;
	width: 784px;
	height: 200px;
}

.clear{
	clear: both;
}

.badan{
	height: auto;
}

.bingkai .badan .sidebar {
	height: auto;
	width: 200px;
	background: #f4e8c8;
	float: left;
}

.bingkai .badan .content {
	height: auto;
	width: 584px;
	background:#dedede;
	float: left;
}

article {
	clear: both;
	overflow: auto;
	width: 100;
}

.bingkai .footer {
	width: 784px;
	height: 100px;
	background: #ffff00;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}